<!DOCTYPE html>
<html th:replace="~{shared/master :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Index</title>
</head>
<body class="py-2">
    <section>
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/index">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Message Device</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">RabbitMQ&reg;</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Message Queue</h6>
                        <a href="/message-devices/rabbit/list" class="card-link">Manage</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>