<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{shared/master :: layout(~{::title}, ~{::section})}">
<head>
    <title>List</title>
</head>
<body>
    <section>
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/index">Home</a></li>
                        <li class="breadcrumb-item"><a href="/testsuite/index">Test Suite</a></li>
                        <li class="breadcrumb-item"><a href="/states/index">State</a></li>
                        <li class="breadcrumb-item active" aria-current="page">List</li>
                    </ol>
                </nav>
            </div>
        </div>
        <form class="form-row" method="post">
            <div class="col form-group">
                <label class="sr-only">Filter:</label>
                <input type="text" placeholder="Filter..." class="form-control form-control-sm" name="filter" />
            </div>
            <div class="col-auto form-group">
                <label class="sr-only">Search:</label>
                <button type="submit" class="btn btn-sm btn-primary">Search</button>
            </div>
        </form>
        <form class="form-row" method="post" th:action="@{/states/add}">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-end">
                            <div class="col-12 form-group d-none">
                                <input type="hidden" name="operation" th:value="${id == -1 ? 'post' : 'put'}" />
                                <input type="hidden" name="id" th:value="${id}" />
                            </div>
                            <div class="col form-group">
                                <label>Name:</label>
                                <input type="text" name="name" class="form-control form-control-sm" th:value="${name}" />
                            </div>
                            <div class="col-auto form-group">
                                <label>Timeout:</label>
                                <input type="text" style="width: 100px;" name="timeout" class="form-control form-control-sm" th:value="${timeout}" />
                            </div>
                            <div class="col-12 form-group">
                                <label class="">This state is required for evaluation? If so, check as required.</label>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="requiredCheck" name="required" th:checked="${required}" />
                                    <label class="custom-control-label" for="requiredCheck">Required</label>
                                </div>
                            </div>
                            <div class="col-12 form-group">
                                <button type="submit" class="btn btn-sm btn-primary">Save<span th:if="${id != -1}"> Changes</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row my-3">
            <div class="col">
                <table class="table table-sm table-striped table-hover" tabindex="-1">
                    <thead>
                        <tr>
                            <th class="w-1-nowrap">#</th>
                            <th>Name</th>
                            <th class="w-1-nowrap">Timeout</th>
                            <th class="w-1-nowrap">Required</th>
                            <th class="w-1-nowrap">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="state : ${stateList}">
                            <th class="align-middle"><span th:text="${state.id}"></span></th>
                            <td class="align-middle"><span th:text="${state.name}"></span></td>
                            <td class="align-middle"><span th:text="${state.timeout}"></span></td>
                            <td class="align-middle">
                                <span th:text="${state.required} ? 'Yes' : 'No'"></span>
                            </td>
                            <td class="align-middle">
                                <div class="btn-group">
                                    <a th:href="@{/states/list/{id}(id=${state.id})}" class="btn btn-sm btn-warning">Editar</a>
                                    <button type="button" class="btn btn-sm btn-warning dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="sr-only">Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="#" class="dropdown-item">Details</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</body>
</html>