<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{shared/master :: layout(~{::title}, ~{::section})}">
<head>
    <title>List</title>
</head>
<body>
    <section>
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/index">Home</a></li>
                        <li class="breadcrumb-item"><a href="/examples/index">Examples</a></li>
                        <li class="breadcrumb-item active">OpenStack&reg;</li>
                    </ol>
                </nav>
            </div>
        </div>
        <form class="form-row" method="post" th:action="@{/examples/openstack/add}">
            <div class="col">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Easy Form</h5>
                        <div class="row">
                            <div class="col-12 form-group d-none">
                                <input type="hidden" class="form-control form-control-sm" name="planId" th:value="${planId}" />
                                <input type="hidden" class="form-control form-control-sm" th:value="${planId == -1 ? 'post' : 'put'}" name="operation" />
                            </div>
                            <div class="col-12 form-group">
                                <label>Name:</label>
                                <input type="text" class="form-control form-control-sm" name="name" th:value="${name}" />
                            </div>
                            <div class="col-12 form-group">
                                <button type="submit" class="btn btn-primary btn-sm">
                                    Save<span th:if="${planId != -1}"> Changes</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <form class="form-row" method="get">
            <div class="col form-group">
                <label class="sr-only">Filter:</label>
                <input type="text" class="form-control form-control-sm" placeholder="Filter..." name="filter" />
            </div>
            <div class="col-auto form-group">
                <label class="sr-only">Search:</label>
                <button type="submit" class="btn btn-primary btn-sm">Search</button>
            </div>
        </form>
        <div class="row">
            <div class="col">
                <table class="table table-sm table-striped table-hover" tabindex="-1" th:if="${planList != null && planList.size() > 0}">
                    <thead>
                        <tr>
                            <th class="w-1-nowrap">#</th>
                            <th>Name</th>
                            <th class="">Configuration Status</th>
                            <th class="w-1-nowrap">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="plan : ${planList}">
                            <th class="align-middle">
                                <span th:text="${plan.id}" />
                            </th>
                            <td class="align-middle">
                                <span th:text="${plan.name}" />
                            </td>
                            <td>
                                <span th:if="${plan.testCaseCount > 0}" class="badge badge-success">Tests Configured</span>
                                <span th:if="${plan.testCaseCount == 0}" class="badge badge-danger">No Test Case</span>

                                <span th:if="${plan.environmentCount > 0}" class="badge badge-success">Environment Configured</span>
                                <span th:if="${plan.environmentCount == 0}" class="badge badge-danger">No Environment</span>

                                <span th:if="${plan.messageDeviceCount > 0}" class="badge badge-success">Message Device Configured</span>
                                <span th:if="${plan.messageDeviceCount == 0}" class="badge badge-danger">No Message Device</span>
                            </td>
                            <td>
                                <div class="btn-group">
                                    <a th:href="@{/examples/openstack/list/{id}(id=${plan.id})}" class="btn btn-sm btn-warning">Edit</a>
                                    <button type="button" class="btn btn-sm btn-warning dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="sr-only">Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a th:href="@{/examples/openstack/{id}/test-case/add(id=${plan.id})}" class="dropdown-item">Add Test Case</a>
                                        <a th:href="@{/examples/openstack/{id}/message-device/rabbit/add(id=${plan.id})}" class="dropdown-item">Add Message Device</a>
                                        <a th:href="@{/examples/openstack/{id}/environment/virtualbox/add(id=${plan.id})}" class="dropdown-item">Add Environment</a>
                                        <div class="dropdown-divider"></div>
                                        <a th:href="@{/examples/openstack/delete/{planId}(planId=${plan.id})}" class="dropdown-item">Remove</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p th:if="${planList == null || planList.size() == 0}">
                    No results...
                </p>
            </div>
        </div>
    </section>
</body>
</html>