<?xml version="1.0" encoding="utf-8"?>

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/test?serverTimezone=UTC</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.username">test</property>
        <property name="hibernate.connection.password">test-321</property>
        <property name="hibernate.show_sql">false</property>

        <mapping resource="hbm/TestCase.hbm.xml" />
        <mapping resource="hbm/TestInput.hbm.xml" />
        <mapping resource="hbm/TestInputArgument.hbm.xml" />
        <mapping resource="hbm/State.hbm.xml" />
        <mapping resource="hbm/Message.hbm.xml" />
        <mapping resource="hbm/TestState.hbm.xml" />
        <mapping resource="hbm/TestMessage.hbm.xml" />
        <mapping resource="hbm/MessageArgument.hbm.xml" />
        <mapping resource="hbm/Fault.hbm.xml" />
        <mapping resource="hbm/TestCaseFault.hbm.xml" />
        <mapping resource="hbm/Environment.hbm.xml" />
        <mapping resource="hbm/MessageArgumentFault.hbm.xml" />
        <mapping resource="hbm/TestExecutionContext.hbm.xml" />
        <mapping resource="hbm/MessageDevice.hbm.xml" />
        <mapping resource="hbm/TestSpecs.hbm.xml" />
        <mapping resource="hbm/TestStateOutput.hbm.xml" />
        <mapping resource="hbm/TestPlan.hbm.xml" />
        <mapping resource="hbm/RabbitBind.hbm.xml" />
        <mapping resource="hbm/RabbitExchange.hbm.xml" />
        <mapping resource="hbm/RabbitQueue.hbm.xml" />
        <mapping resource="hbm/RabbitTestBind.hbm.xml" />
    </session-factory>
</hibernate-configuration>