<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{shared/master :: layout(~{::title}, ~{::section})}">
<head>
    <title>Index</title>
</head>
<body>
    <section>
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/index">Home</a></li>
                        <li class="breadcrumb-item"><a href="/testsuite/index">Test Suite</a></li>
                        <li class="breadcrumb-item"><a href="/testsuite/list">Test Case</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><span>Input</span></li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card mb-3">
                    <div class="card-body">
                        <form class="form-row" method="post" th:action="@{/testsuite/{id}/input/action/add(id=${id})}">
                            <div class="col form-group d-none">
                                <input type="hidden" class="form-control form-control-sm" name="operation" th:value="${inputId == -1 ? 'post' : 'put'}" />
                                <input type="hidden" class="form-control form-control-sm" name="inputId" th:value="${inputId}" />
                            </div>
                            <div class="col form-group">
                                <label>Action:</label>
                                <input type="text" class="form-control form-control-sm" name="action" th:value="${inputAction}" />
                            </div>
                            <div class="col-auto form-group">
                                <label>Order:</label>
                                <input id="orderInput" type="text" class="form-control form-control-sm" name="order" th:value="${inputOrder}" style="width: 100px;" />
                                <script type="text/javascript">
                                    var numberElement = document.getElementById("orderInput");
                                    var numberMask = IMask(numberElement, {
                                        scale: 0,
                                        mask: Number,
                                        signed: false,
                                        thousandsSeparator: ''
                                    });
                                </script>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-sm btn-primary">Save<span th:if="${inputId != -1}"> Changes</span></button>
                            </div>
                            <div class="col-auto ml-auto">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="lockedCheck" th:checked="${inputLocked}" name="locked" />
                                    <label class="custom-control-label" for="lockedCheck">Locked</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form class="form-row" method="get">
                    <div class="col form-group">
                        <label class="sr-only">Filter:</label>
                        <input type="text" class="form-control form-control-sm" name="filter" th:value="${filter}" placeholder="Filter..." />
                    </div>
                    <div class="col-auto form-group">
                        <label class="sr-only">Button</label>
                        <button type="submit" class="btn btn-sm btn-primary">Search</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-sm table-striped table-hover" th:if="${testInputs != null && testInputs.size() > 0}">
                    <thead>
                        <tr>
                            <th>Order</th>
                            <th>Action</th>
                            <th>Controls</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="testInput : ${testInputs}">
                            <td style="width: 1%; white-space: nowrap;">
                                <span th:text="${testInput.order}"></span>
                            </td>
                            <td>
                                <span th:utext="${testInput.toHtml()}"></span>
                            </td>
                            <td style="width: 1%; white-space: nowrap;">
                                <div class="btn-group">
                                    <a th:href="@{/testsuite/{id}/input/manage/{testInputId}(id=${id},testInputId=${testInput.id})}" class="btn btn-sm btn-secondary">Edit</a>
                                    <a th:href="@{/testsuite/{id}/input/{inputId}/args/add(id=${id},inputId=${testInput.id})}" class="btn btn-sm btn-secondary">Add Arg</a>
                                    <button type="button" class="btn btn-sm btn-secondary dropdown-toggle-split dropdown-toggle" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                                        <span class="sr-only">Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" th:href="@{/testsuite/{id}/input/delete/{inputId}(id=${id},inputId=${testInput.id})}">Remove</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p th:if="${testInputs == null || testInputs.size() == 0}">
                    No results...
                </p>
            </div>
        </div>
    </section>
</body>
</html>