<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body class="py-2">
    <div class="container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/index">Home</a></li>
                        <li class="breadcrumb-item"><a href="/message-devices/index">Message Device</a></li>
                        <li class="breadcrumb-item"><a href="/message-devices/rabbit/index">RabbitMQ&reg;</a></li>
                        <li class="breadcrumb-item active" aria-current="page">List</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-12">
                <h3>
                    RabbitMQ&reg;
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Easy Form</h5>
                        <form class="row" method="post" th:action="@{/message-devices/rabbit/add}">
                            <div class="col d-none">
                                <input type="hidden" name="id" th:value="${id}" />
                                <input type="hidden" name="operation" th:value="${id == -1 ? 'post' : 'put'}" />
                            </div>
                            <div class="col form-group">
                                <label>Host:</label>
                                <input type="text" class="form-control form-control-sm" name="host" th:value="${host}" />
                            </div>
                            <div class="col form-group">
                                <label>Username:</label>
                                <input type="text" class="form-control form-control-sm" name="username" th:value="${username}" />
                            </div>
                            <div class="col form-group">
                                <label>Password:</label>
                                <input type="text" class="form-control form-control-sm" name="password" th:value="${password}" />
                            </div>
                            <div class="w-100"></div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-sm btn-primary">Save<span th:if="${id != -1}"> Changes</span></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <form class="form-row" method="post">
                    <div class="col">
                        <div class="form-group">
                            <label class="sr-only">Filter:</label>
                            <input type="text" class="form-control form-control-sm" name="filter" placeholder="Filter..." />
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-group">
                            <label class="sr-only">Submit</label>
                            <button type="button" class="btn btn-sm btn-primary">
                                <span>Search</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-group">
                            <label class="sr-only">Create</label>
                            <a th:href="@{/message-devices/rabbit/create}" class="btn btn-sm btn-primary">Create</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="w-100"></div>
            <div class="col-12">
                <table class="table table-sm table-striped table-hover" tabindex="-1" th:if="${messageDeviceList != null && messageDeviceList.size() > 0}">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Host</th>
                            <th>Username</th>
                            <th>Password</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="device : ${messageDeviceList}">
                            <th
                                    style="width: 1%" class="align-middle text-nowrap" th:text="${device.id}"></th>
                            <td class="align-middle" th:text="${device.url}"></td>
                            <td class="align-middle" th:text="${device.user}"></td>
                            <td class="align-middle" th:text="${device.password}"></td>
                            <td
                                    style="width: 1%" class="text-nowrap">
                                <div class="btn-group">
                                    <a th:href="@{/message-devices/rabbit/list/{id}(id=${device.id})}" class="btn btn-sm btn-warning">Edit</a>
                                    <button type="button" class="btn btn-sm btn-warning dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="sr-only">Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Details</a>
                                        <a class="dropdown-item" href="#">Test Connection</a>
                                        <a class="dropdown-item text-danger" th:href="@{/message-devices/rabbit/delete/{id}(id=${device.id})}">Remove</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p th:if="${messageDeviceList == null || messageDeviceList.size() == 0}">
                    No results...
                </p>
            </div>
        </div>
    </div>
</body>
</html>