<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{shared/master :: layout(~{::title}, ~{::section})}">
<head>
    <title>Index</title>
</head>
<body>
    <section>
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/index">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Examples</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">OpenStack&reg;</h5>
                        <h6 class="text-muted mb-2 card-subtitle">Test Plan</h6>
                        <a href="/examples/openstack/list" class="card-link">Manage</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>