<!DOCTYPE html>
<html th:replace="~{shared/master :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Index</title>
</head>
<body>
    <section>
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/index">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Test Suite</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Test Suite</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Test Suite and Inputs and Args</h6>
                        <a href="/testsuite/list" class="card-link">Manage</a>
                        <a href="/testsuite/importfile" class="card-link">Import</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">State</h5>
                        <h6 class="card-subtitle mb-2 text-muted">States of the Test Cases</h6>
                        <a href="/states/list" class="card-link">Manage</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>