<!DOCTYPE html>
<html th:replace="~{shared/master :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Index</title>
</head>
<body>
    <section>
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/index">Home</a></li>
                        <li class="breadcrumb-item"><a href="/environments/index">Environment</a></li>
                        <li class="breadcrumb-item active" aria-current="page">VirtualBox&reg;</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Form</h5>
                        <div class="row">
                            <div class="col-3">
                                <a href="/environments/virtualbox/create" class="card-link">Create</a>
                            </div>
                            <div class="col-3">
                                <a href="/environments/virtualbox/list" class="card-link">List</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>