<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body class="py-2">
    <div class="container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">Home</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Testing Palette</h5>
                        <a href="/message-devices/index" class="card-link">Message Device</a>
                        <a href="/environments/index" class="card-link">Environment</a>
                        <a href="/testsuite/index" class="card-link">Test Suite</a>
                        <a href="/examples/index" class="card-link">Examples</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>